.container{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    margin: 5px 0px;
}

.container:hover, .active{
    background-color:var(--textSoft);
    color:var(--bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}