.container {
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 2100px;
}

.heading {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.blogframe {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

@media (min-width: 1024px) {
  .blogframe {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.blogeditor__container {
  padding: 20px; /* 1.25rem */
  margin-top: 24px; /* 1.5rem */
  margin-bottom: 24px; /* 1.5rem */
  border-radius: 8px; /* 0.5rem */
  width: 100%;
  max-width: 768px; /* 48rem */
  background-color: #f3f9fd;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.1),
    0 16px 32px 0 rgba(0, 0, 0, 0.06);
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .blogeditor__container {
    padding: 15px;
  }
  
  .bloginput input, .bdes textarea, .quill {
    font-size: 14px; /* Slightly smaller font size on smaller screens */
  }
}

.blogh2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.blogtitlecontainer {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
}

.bloglabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.inputtitle {
  display: block;
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 0;
  width: 100%;
  color: #111827;
  font-size: 16px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.bloginput input, .bdes textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Prevents the input from exceeding the container width */
  margin-bottom: 20px;
}

.sluglabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.sluginput {
  font-size: 16px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.bdes {
  margin-top: 8px;
}

.description {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #272727;
}

.descriptioncontent {
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
  font-size: 16px;
  line-height: 1.5;
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.content {
  margin-top: 20px;
}

.bcontentlabel {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #0c2866;
}

.quill::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  background-color: #1f4cac;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff5582;
}

.plus {
  fill: currentColor; 
}

/* views */
.view__container {
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 768px;
  background-color: #f9f9f9;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.1),
              0 16px 32px 0 rgba(0, 0, 0, 0.06);
}
.blogpreviewheader{
  border-bottom: 2px solid #cccccc; /* Adjust the color (#cccccc) to the shade of gray you want */
  padding-bottom: 10px; /* Gives some space between the text and the line */
  margin-bottom: 20px; /* Additional space below the line if needed */
}

.break{
margin-bottom: 10px;
}

.views {
  margin-bottom: 10px;
}
.viewtitleh2{
  font-size: 16px;
}
.viewh2{
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5px;
  

}

.viewbtitlecontent_t{
  font-size: larger;
  font-weight: bold;
}

/* Remove borders and backgrounds to emulate a posted blog look */
.viewsmobile, .slug, .viewdes, .viewcontent {
  background-color: transparent; /* No background */
  padding: 5px; /* No padding inside each content area */
  margin-bottom: 0; /* No space between content areas */
  border: none; /* No border around content areas */
}

/* Optional: You might want to add some bottom margin to each section for spacing */
.viewsmobile, .slug, .viewdes {
  margin-bottom: 20px;
}

/* Maintain the background for content area if needed */
.viewbcontent {
  padding: 15px;
}

/* Styles for description to match the blog view */
.viewdescontent {
  background-color: transparent; /* No background color */
  padding: 0; /* No padding */
  word-wrap: break-word;
  overflow: hidden;
}

/* Responsive image styles within the blog content area */
.viewbcontent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Rest styles are still required to prevent overflow */
.viewbcontent *,
.viewbcontent *:before,
.viewbcontent *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for lists and paragraphs */
.viewbcontent ul,
.viewbcontent ol,
.viewbcontent p {
  margin-left: 20px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .views {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .viewsmobile, .slug, .viewdes, .viewcontent {
    grid-column: span 2 / span 2;
  }
}
