.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  background: var(--textSoft);
  color: var(--bg);
  border: none;
  border-radius: 5px;
  width: 10%;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:disabled{
    cursor: not-allowed;
    background-color: gray;
}
