.container{
    background-color: var(--bg);
    border: 20px;
    border-radius: 10px;
}

.title{
    margin: 20px;
    font-weight: 300;
    color: var(--textSoft);
}

.table{
    table-layout: fixed ;
    width: 100%;
    font-size: smaller;
    border-collapse: collapse;
    
  }

.table tr:hover {
    background-color: #fce5d7;
    background-color: #ffffff;
}

.table thead{
    font-weight: bold;
    background-color: #d5d8e4;
    height: 50px;
}

.table td{
    padding: 15px;
    width: 50% ;
}

.hour{
    color: var(--bg-main-orange);
    font-weight: bold;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}
.userImage{
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 4px 0 rgba(152, 152, 152, 0.2), 0 2px 16px 0 rgba(9, 9, 10, 0.19);
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: var(--bg);
}

.pending{
    background-color:var(--bg-main-yellow) ;
}
.done{
    background-color:var(--bg-main-blue) ;
}
.cancelled{
    background-color:var(--bg-main-orange) ;
}