.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
  align-items: flex-end;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cacaca;
  box-shadow: 0 4px 4px 0 rgba(152, 152, 152, 0.2),
    0 2px 4px 0 rgba(1, 2, 97, 0.19);
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.image {
  padding: 0;
  object-fit: cover;
  border: none;
  margin-right: 10px;
}

.icons {
  display: flex;
  gap: 20px;
}
/* Dropdown Menu styles */
/* Set the mobile menu icon to not display by default */
.icons .mobileMenuIcon {
  display: none;
}

@media (max-width: 768px) {
  .icons .mobileMenuIcon {
    display: flex;
  }
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  background: rgb(227, 190, 0);
  background: linear-gradient(
    45deg,
    rgba(227, 190, 0, 0.8884803921568627) 8%,
    rgba(231, 58, 42, 0.8604691876750701) 34%,
    rgba(164, 78, 244, 0.8660714285714286) 58%,
    rgba(0, 62, 193, 0.9473039215686274) 82%
  );
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* Position it absolutely relative to its positioned parent */
  top: 0; /* Align to the top edge of the parent element */
  right: 0; /* Align to the right edge of the parent element */
  z-index: 100; /* Ensure it stacks on top of other content */
  width: 100%;
  padding-block: 5rem, 4rem;
  transition: top 0.3s ease; /* Smooth transition for the top property */
}

/* This style will be applied when isDropdownOpen is false */
.dropdownMenuHidden {
  top: -100%; /* Moves the dropdown menu off the top of the screen */
}

.logout{
  padding: 15px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: none;
  border:none;
  width: 100%;
}
.logout:hover{
  background-color: var(--bg-main-orange);
  color: var(--bg);
}

.dropdownHeader {
  font-weight: bold;
  color: #333; /* Adjust to match your theme */
  margin-bottom: 0.5rem;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: #333; /* Adjust to match your theme */
  text-decoration: none;
}

.dropdownItem i {
  margin-right: 0.5rem;
  /* Add styles for your icons */
}

/* Hover state for dropdown items */
.dropdownItem:hover {
  background-color: #f0f0f0; /* Adjust to match your theme */
}
